page-attachment-preview {
  .sample-modal-page {
    padding: 30px;
    background: rgba(0, 0, 0, 0.5);
  }
  .preview-image {
    margin-top: 50px;
    border-radius: 8px;
  }
  .action-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
