.rate-icons {
    display: flex;
    justify-content: center;
    img {
        height: 100px;
        padding: 5px;
    }
}
.action-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.service-text {
    font-size: 22px;
    text-align: center;
}