page-doctor-connect {
  .scroll-content {
    background-color: #f8f8f8;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ion-icon {
    font-size: 5em;
    color: #ccc;
  }
}
