<!--
  Generated template for the ScanUploadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ScanUpload</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="centered">
    <button ion-button round outline (click)="openScanner($event)">Open Scanner</button>
  </div>
  <ion-item patient>
      <ion-label>Patient</ion-label>
      <ion-select [(ngModel)]="patient">
        <ion-option *ngFor="let patient of patientList" value="{{patient.id}}">{{patient.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <img src="{{iconPath}}camera.png" (click)="takePhoto()" class="action-icon"/>
 
        Capture Image
        <ion-badge item-end>0</ion-badge>
      </ion-item>
      <ion-item>
          <img class="action-icon" src="{{iconPath}}attachments.png" (click)="onClickAttachment()"/>
          
          Upload Document
          <ion-badge item-end>0</ion-badge>
        </ion-item>
        <div>
            <ion-item *ngFor="let a of attachments; let i = index">
                <ion-badge item-start>{{i}}</ion-badge>
                {{a.name}}
                <i class="fa fa-trash" (click)="removeAttachment(a)"></i>
              </ion-item>
        </div>
        <ion-col col-6 *ngFor="let photo of photos; let id = index">
            <ion-card class="block">
              <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
              <img [src]="photo" *ngIf="photo" />
            </ion-card>
    </ion-col>
    {{message}}
</ion-content>