<!--
  Generated template for the ScanUploadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ScanUpload</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="centered">
    <button ion-button round outline (click)="openScanner($event)">Open Scanner</button>
  </div>

  <ion-list class="attachments">
    <ng-container *ngFor="let attach of attachments">

      <ion-item *ngIf="!attach.isEditable">
        <label [for]="attach.name">{{attach.name}}</label>
        <span class="spacer"></span>
        <ion-icon name="create" (click)="edit(attach)"></ion-icon>
        <ion-icon name="close" (click)="delete(attach)"></ion-icon>
      </ion-item>

      <ion-item class="ion-editable" *ngIf="attach.isEditable">
        <ion-input type="text" [(ngModel)]="attach.name"></ion-input>
      </ion-item>
      <div class="icon-right" *ngIf="attach.isEditable">
        <ion-icon name="checkmark" class="md-update" (click)="update(attach)"></ion-icon>
      </div>
    </ng-container>
  </ion-list>

  <form [formGroup]="form" (ngSubmit)="sendEmail()">

    <ion-list>

      <ion-item margin-bottom>
        <!-- <ion-label for="to">To:</ion-label> -->
        <ion-input type="email" name="to" [(ngModel)]="to" formControlName="to" placeholder="To..."></ion-input>
      </ion-item>

      <div class="centered">
        <button ion-button round text-center [disabled]="!form.valid">Send email</button>
      </div>
    </ion-list>
  </form>
</ion-content>