page-my-profile {
    .pro-pic-main {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    .pro-pic {
        height: 110px;
        width: 110px;
        border-radius: 50%;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
}
.action-btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.popup {
    margin-top: 13px;
}
}