page-signup {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;

  [signup] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
  }

  [register] {
    display: flex;
    align-items: center;
  }

  [role] {
    margin-top: 10px;
  }
  .signup-center {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px 10px;
    width: 100%;
  }
  .login {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .signup-main {
    height: 50px;
  }
}
