page-login {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;

  [login] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
  }

  [register] {
    display: flex;
    align-items: center;
  }

  .login-main {
    height: 100px;
  }

  [role] {
    margin-top: 10px;
  }
  .login-center {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 10px 10px;
    width: 100%;
  }
  .signup {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-main {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    align-items: center;
    align-self: center;
    img {
      height: 200px;
    }
  }
  .already-acc-container {
    display: flex;
    align-items: center;
    align-self: center;
  }
}
